<h1>konnichiwa</h1>

<form action="/random/results">
  <div>
    <label for="pineapple">Minimum</label>
    <input id="pineapple" type="text" placeholder="E.g. 1.5" name="user_min">
  </div>
  <div>
    <label for="apple">Maximum</label>
    <input id="apple" type="text" placeholder="E.g. 4.5" name="user_max">
  </div>
  <div>
    <button>Pick random number</button>
  </div>
</form>
